/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */

body {
    color: beige;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.jpeg);
}

header{
    border-bottom: 1px solid white;
}

footer {
    text-align: center;
    border-top: 1px solid white;
}

footer span br {
    display: none;
}

.titulo {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

/* Grid Layout */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Estilos del html Index */

.logosClientes {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.logosClientes a:hover {
    scale: 1.2;
}

.nuestrosClientes {
    text-align: center;
    font-size: 1.5rem;
}

.mainIndex {
    display: flex;
    flex-direction: column;
}

.primerDivIndex {
    background-image: url("../img/ingenieros.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    flex: 90%;
    text-align: center;
    text-shadow:
        1px 1px 2px black,
        0 0 1em blue,
        0 0 0.2em blue;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.segundoDivIndex {
    padding: 0.8rem;
}

/* Estilos del html Nosotros */

/* .mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgIngenieroNosotros {
    width: 100%;
    padding: 2rem;
} */

/* Estilos del html Productos */

.mainProductos {
    display: flex;
}

.primerDivProductos{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundoDivProductos{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del html Servicios */

.tituloServicios,
.textoServicios {
    text-shadow:
        1px 1px 2px black,
        0 0 1em blue,
        0 0 0.2em blue;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.textoServicios {
    font-size: 1.5rem;
}

.mainServicios{
    width: 80vw;
    justify-self: center;
    padding: 1rem;
}

/* Estilos del html Contacto */

.mainContacto {
    display: flex;
}

.contactoContacto {
    flex: 50%;
    padding: 2rem;
}

.ubicacionContacto {
    flex: 50%;
    padding: 2rem;
}

.formularioContacto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
}

.inputConsulta {
    height: 17.7rem;
}

textarea{
    resize: none;
}

/* Media queries*/

@media screen and (max-width: 1199px) {

    /* Estilos generales celulares */

    footer span span{
        display: none;
    }

    footer span br{
        display: block;
    }

    /* Estilos index celulares */

    .primerDivIndex {
        background-image: url("../img/ingenieros-small.png");
        background-size:100%;
        background-position:top center;
    }

    .logosClientes a img {
        width: 90%;
    }

    /* Estilos productos celulares */

    .mainProductos {
        flex-direction: column;
    }

    .primerDivProductos{
        padding: 2rem;
    }

    .segundoDivProductos{
        width: auto;
        padding: 2rem;
    }

    .segundoDivProductos iframe {
        width: 100%;
        height: 100%;
    }

    /* Estilos servicios celulares */

    .mainServicios{
        width: 100vw;
    }

    /* Estilos contacto celulares */

    .mainContacto {
        flex-direction: column;
        width: 100vw;
    }

    .ubicacionContacto iframe {
        width: 85vw;
        height: 20rem;
    }

}