/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------Estilos Generales---------- */

.paddingUnRem {
    padding: 1rem;

}

.marginUnRem {
    margin: 1rem;
}

header,
footer {
    background-color: #25468d;
}

body {
    background-color: rgba(37, 70, 141, 0.719);
}

h1,
h2,
p,
li,
span,
label,
.nav-link {
    color: beige;
    font-family: 'Roboto', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    font-size: 0.9rem;
}

/* ----------Estilos del html Index---------- */

.mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.nuestrosClientes {
    text-align: center;
    font-size: 2rem;
}

.logosClientes {
    display: flex;
    justify-content: center;
}

.logosClientes img:hover {
    scale: 1.2;
}

.imgIndex {
    width: 60rem;
}

/* ----------Estilos del html Nosotros---------- */

.mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgNosotros {
    width: 50rem;
}

/* ----------Estilos del html Productos---------- */

.mainProductos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.divVideosProductos {
    width: 560px;
}

.tituloNuestrosProductos {
    font-size: 2rem;
}

/* ----------Estilos del html Servicios---------- */

.textoServicios,
.tituloServicios {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.textoServicios {
    font-size: 1.2rem;
}

/* ----------Estilos del html Contacto---------- */

.mainContacto {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    height: 75vh;
}

.inputConsulta {
    width: 20rem;
    height: 15rem;
}

.inputEmail {
    width: 20rem;
}

.mainContacto form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.mainContacto iframe{
    width: 500px;
    height: 370px;
}

.mainContacto h1, .mainContacto h2{
    font-size: 3rem;
}