/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------Estilos Generales---------- */
header,
footer {
    background-color: #25468d;
}

main {
    background-color: rgba(37, 70, 141, 0.719);
}

h1,
h2,
p,
li,
span,
label,
.nav-link {
    color: beige;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
}

/* ----------Estilos del html Index---------- */

.bodyIndex {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 4.7rem;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headerIndex {
    grid-area: header;
}

.mainIndex {
    grid-area: main;
}

.footerIndex {
    grid-area: footer;
}

.logosClientes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.nuestrosClientes {
    text-align: center;
    padding: 1rem;
}

.mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgIngenieros {
    width: 100%;
    padding: 2rem;
}

/* ----------Estilos del html Nosotros---------- */

.bodyNosotros {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 4.7rem;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headerNosotros {
    grid-area: header;
}

.mainNosotros {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerNosotros {
    grid-area: footer;
}

.imgIngenieroNosotros {
    width: 100%;
    padding: 2rem;
}

/* ----------Estilos del html Productos---------- */

.bodyProductos {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 4.7rem;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headerProductos {
    grid-area: header;
}

.mainProductos {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerProductos {
    grid-area: footer;
}

.videosProductos {
    width: 35rem;
}

/* ----------Estilos del html Servicios---------- */

.bodyServicios {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 4.7rem;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headerServicios {
    grid-area: header;
}

.mainServicios {
    grid-area: main;
}

.footerServicios {
    grid-area: footer;
}

.tituloServicios, .textoServicios{
    text-shadow:
        1px 1px 2px black,
        0 0 1em blue,
        0 0 0.2em blue;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.textoServicios{
    font-size: 1.5rem;
}

/* ----------Estilos del html Servicios---------- */

.bodyContacto {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem 1fr 4.7rem;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.headerContacto{
    grid-area: header;
}

.mainContacto{
    grid-area: main;
}

.footerContacto{
    grid-area: footer;
}